In [3]:
import numpy as np
import pandas as pd
import nltk

In [15]:
df=pd.read_csv('Final3.csv')
loc_lst=list(df.columns)
loc_lst

['Unnamed: 0',
 'name',
 'rating',
 'reviews',
 'company_type',
 'address',
 'since',
 'employee']

In [18]:
df.drop(columns="Unnamed: 0",inplace=True)

In [20]:
df

,name,rating,reviews,company_type,address,since,employee
0,TCS,3.9,(49.3k Reviews),Public,"Mumbai,Maharashtra + 272 more",54 years old,1 Lakh+ Employees (India)
1,Accenture,4.1,(32.2k Reviews),Public,Dublin + 141 more,33 years old,1 Lakh+ Employees (India)
2,Cognizant,3.9,(29.4k Reviews),Private,Teaneck. New Jersey. + 97 more,28 years old,1 Lakh+ Employees (India)
3,ICICI Bank,4.0,(34.7k Reviews),Public,"Mumbai,Maharashtra + 1035 more",28 years old,1 Lakh+ Employees (India)
4,HDFC Bank,4.0,(39.6k Reviews),Public,"Mumbai,Maharashtra + 1206 more",28 years old,1 Lakh+ Employees (India)
...,...,...,...,...,...,...,...
295,Tata Motors,4.1,(12.4k Reviews),Public,"Pune,Maharashtra + 390 more",77 years old,10k-50k Employees (India)
296,WNS,3.7,(7k Reviews),Private,"Mumbai,Maharashtra + 22 more",26 years old,10k-50k Employees (India)
297,Mahindra & Mahin...,3.9,(39.4k Reviews),Public,"Mumbai,Maharashtra + 408 more",77 years old,1 Lakh+ Employees (India)
298,IndusInd Bank,3.8,(6.8k Reviews),Public,"Gurgaon/Gurugram,Haryana + 553 more",28 years old,10k-50k Employees (India)
299,BYJU'S,3.5,(11.6k Reviews),Private,"Bangalore,Karnataka + 189 more",11 years old,1k-5k Employees (India)

In [21]:
import re
from nltk.corpus import stopwords
from nltk.stem import PorterStemmer
ps=PorterStemmer()

In [38]:
corpus=[]
for i in range(len(df)):
    rp=re.sub('[^a-zA-Z]'," ",df['name'][i])
    rp=rp.lower()
    rp=rp.split()
    rp=[ps.stem(word) for word in rp if not word in set(stopwords.words('english'))]
    rp=" ".join(rp)
    corpus.append(rp)

In [39]:
from sklearn.feature_extraction.text import CountVectorizer
cv=CountVectorizer()
X=cv.fit_transform(corpus).toarray()

In [24]:
y=pd.get_dummies(df['address'],drop_first=True)

In [28]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=0)

In [37]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
X_train=sc.fit_transform(X_train)
X_test=sc.transform(X_test)

In [55]:
from sklearn.neighbors import KNeighborsClassifier
knn_model=KNeighborsClassifier(n_neighbors=10)
knn_model.fit(X_train,y_train)

KNeighborsClassifier(n_neighbors=10)

In [56]:
y_pred=knn_model.predict(X_test)

In [57]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_pred)

0.7